*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    font-family: 'Mukta', Helvetica, sans-serif, serif;
    background-color: white;
}

.header {
    padding: 10px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;;
    /* background-color: rgb(246, 249, 249 ); */
}

.menu-title {
    margin: 0 10px;
    font-size: 30px;
    line-height: 24px; 
    font-weight: normal;
    color: rgb(21, 164, 250);
}


.menu {
    display: flex;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 32px;
}

.menu-item {
    margin: 0 10px;
    text-decoration: none;
    color: #999999;
}

.menu-item:hover{
    color: rgb(21, 164, 250);
}

.header-promo {
    box-sizing: border-box;
    padding: 20px;
    height: 400px;
    position: relative;
    background: url("../img/header.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.header-title {
    margin: 2% auto;
    width: 40%;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 50px;
    line-height: 47px;
    color: white;
    text-align: center;
    padding-bottom: 10px; 
    border-bottom: 2px solid rgb(21, 164, 250);
}
@media screen and (min-width: 280px) and (max-width: 540px){
    .header-logo {
        padding: 20px;
    }
    .menu-title{
        font-size: 15px;
    }
    .header-promo  {
        height: 225px;
    } 
    .header-title {
        font-size: 25px;  
    }
}
@media screen and (min-width: 541px) and (max-width: 768px){
    .header-promo  {
        height: 300px;
    }  
}

.description {  
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* background-color: rgb(246, 249, 249 ); */
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(21, 164, 250) ;
}

.description p {
    color: #999999;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
}

.description p:nth-child(n+2){
    border-left: solid rgb(21, 164, 250) 2px;
}

@media screen and (min-width: 280px) and (max-width: 540px){
    .description-title {
        font-size: 20px;
    } 
    .description p {
        font-size: 16px;
        line-height: 18px;
    }
}
@media screen and (min-width: 541px) and (max-width: 768px){
    .description-title {
        font-size: 20px;
    } 
    .description p {
        font-size: 16px;
        line-height: 18px;
    }

}

.features {
    border-bottom: solid 1px rgb(21, 164, 250);
}
.features-list {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.features-item {
    width: 30%;
    position: relative;
    text-align: center;

}
.features-item img {
    width: 60px;
}

.features-title {
    margin: 10px 0;
    font-size: 22px;
    color: #2d3950;
}

.features-item p {
    font-size: 17px;
    color: #999999;
}
@media screen and (min-width: 280px) and (max-width: 540px){
    .features-item {
     width: 90%;
     margin-bottom: 20px;   
    }
}
@media screen and (min-width: 541px) and (max-width: 768px){
    .features-item {
        width: 45%;
    }
}

.catalog{
    /* background-color: rgb(246, 249, 249 ); */
    /* padding: 20px; */
    border-bottom: solid 1px rgb(21, 164, 250);
}

.catalog-title{
    font-size: 40px;
    margin-bottom: 10px;
    color:#999999;
    /* color: rgb(21, 164, 250); */
    text-align: center;
    font-weight: normal;
}

.catalog-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 220px;
    margin-bottom: 25px;
    position: relative;
    padding: 5px;
} 
@media screen and (min-width: 280px) and (max-width: 760px){
    .catalog-title{
        font-size: 25px;
    }
    .item {
        width: 90%;
    } 
}
@media screen and (min-width: 541px) and (max-width: 768px){
    .item {
        width: 45%;
    } 
}
.item p {
    display: none;
    position: absolute;
    bottom: 20px;
    color: white;
}
.item1 {
    background: url("../img/сайт1.PNG") no-repeat;
    background-size: cover;
}

.item:hover p {
    display: block;
}

.item1:hover{
    background:
    linear-gradient(to top, rgb(44, 173, 250, 0.8), rgb(44, 173, 250, 0.8)),
    url("../img/сайт1.PNG") no-repeat;
    background-size: cover;
}


.item2 {    
    background: url("../img/сайт2.PNG") no-repeat;
    background-size: cover;
}

.item2:hover{
    background:
    linear-gradient(to top, rgb(44, 173, 250, 0.8), rgb(44, 173, 250, 0.8)),
    url("../img/сайт2.PNG") no-repeat;
    background-size: cover;
}

.item3 {   
    background: url("../img/сайт3.PNG") no-repeat;
    background-size: cover;
}

.item3:hover{
    background:
    linear-gradient(to top, rgb(44, 173, 250, 0.8), rgb(44, 173, 250, 0.8)),
    url("../img/сайт3.PNG") no-repeat;
    background-size: cover;
}

.item4 {    
    background: url("../img/сайт4.PNG") no-repeat;
    background-size: cover;
}

.item4:hover{
    background:
    linear-gradient(to top, rgb(44, 173, 250, 0.8), rgb(44, 173, 250, 0.8)),
    url("../img/сайт4.PNG") no-repeat;
    background-size: cover;
}

.item5 {   
    background: url("../img/bootstrap_page.png") no-repeat;
    background-position: center;
}

.item5:hover{
    background:
    linear-gradient(to top, rgb(44, 173, 250, 0.8), rgb(44, 173, 250, 0.8)),
    url("../img/bootstrap_page.png") no-repeat;
}

.item6 {    
    background: url("../img/site.JPG") no-repeat;
    background-position: center;
}

.item6:hover{
    background:
    linear-gradient(to top, rgb(44, 173, 250, 0.8), rgb(44, 173, 250, 0.8)),
    url("../img/site.JPG") no-repeat;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 120px;
    padding: 10px 10px;
    background: white;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    color: #15a4fa;
    text-decoration: none;

    display: none;
}
.button .arrow {
    display: none;
}

.item1:hover .button,
.item2:hover .button,
.item3:hover .button,
.item4:hover .button,
.item5:hover .button,
.item6:hover .button{
    display: inline-flex;
}

.button:hover {
    justify-content: space-between;
    /* flex: 120px;
    animation: moveAnim 3s alternate 1; */
}

/* @keyframes moveAnim {
    from { flex: none }
    to{ flex: 120px }
} */

.button:hover .arrow{
    display: inline;
}

footer {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding: 0 10px;
} 
.contacts {
    display: flex;
    align-items: center;
}
.icon {
    margin-left: 10px;
}
.icon svg:not(.upwork){
    width: 30px;
    height: 30px;
    fill: #999999;
}

.icon svg:hover:not(.upwork) {
    cursor: pointer;
    fill: rgb(21, 164, 250);
}

.upwork-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #999999 ;

}
.upwork-wrapper:hover {
    background-color: rgb(21, 164, 250);
}
.upwork {
    position: absolute;
    top: 10%;
    left: 7%;
    width: 25px;
    height: 25px;
    fill: white;
}
